<h1>Signup Below:</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="container">
    First Name: <%= f.text_field :first_name %>
    Last Name: <%= f.text_field :last_name %>
  </div>

  <div class="container">
    Email: <%= f.text_field :email %>
  </div>

  <div class="container">
    Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>

  <div class="container">
    <%= f.submit "Submit" %>
  </div>
<% end %>